* {font-family: soleil,Helvetica,Arial,sans-serif
    
}
#main {
    width: 100%;
    height: 5650px;
    /* border: 1px solid teal; */
}







.main-screen {
    position: relative;
}
.main-screen img{
width: 100%;
height: auto;
/* border: 2px solid greenyellow; */

}
.main-screen .btn ul{
    display: flex;
    margin: auto;
    background: rgb(208, 236, 247);
    padding: 1% 0% 1% 0%;

}


.main-screen .btn ul li button{
    text-decoration: none;
    display: block;
    text-align: center;
   font-size:15px;
   font-weight: bold;
   width: 15vw;
   height: 3vw;
   border: none;
    color: rgb(108, 108, 108);

   background-color: rgb(255, 255, 255);
     
}
.main-screen .btn ul li{

    background-color: #fff;
    list-style: none;
    margin: 1%;
    margin-left: 3%;
}
.banner_text {
    position: absolute;
    top: 0;
    color: #fff;
    /* border: 1px solid green; */
    margin-top: 5%;
    margin-left: 50%;
    text-align: center;
}
.banner_text h1{
    font-size: 30px;
    font-weight: bold;
    
}
.banner_text :nth-child(2){
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}
.banner_text :nth-child(3){
    font-size: 60px;
    font-weight: bold;
    
}
.banner_text :nth-child(4){
    font-size: 62px;
    font-weight: bold;
    
}
.banner_text p{
    font-size: 30px;
    font-weight: bold;

}
#container_1 {
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    height:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}
#container_1 u{
    color: black;
    font-weight: bold;
    font-size: 15px;
    color: rgb(108, 108, 108);
   
}


#container_1 img {
    width: 90%;
    /* border: 1px solid red;  */
}
.valentine img {
    width: 100%;
}
/* .valentine css starts here ................................................................. .valentine ......................................................................................................... */
.banner_text2 {
    position: absolute;
    color: #fff;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: -11%;
    margin-left: 20%;
}
.banner_text2 :nth-child(1){
   font-size: 35px;
   font-style: italic;
   /* margin-top: 5% */

}
  
.banner_text2 :nth-child(2){
    font-size: 22px;
    /* font-weight: bold; */
   
}

/* CHILLY ESSENTIALS part css starts here===========================================CHILLY ESSENTIALS part css starts here */
/* ==============================================================================================================================================CHILLY ESSENTIALS part css starts here */


.container_2 {
    width: 100%;
}
.Chilly {
    width: 100%;
    background: rgb(208, 236, 247);
    text-align: center;
    /* border: 1px solid black */

}
.Chilly h1 {
    font-size: 55px;
    color: rgb(22, 148, 202)
}
#three_img {
    width: 100%;
    /* border: 1px solid green; */
    display: flex;
    height: 450px;
    margin:auto;
}
#three_img :nth-child(1){
    width: 430px;
    height: 450px;
    margin: auto;
}
#three_img :nth-child(2){
    width: 430px;
    height: 450px;
    margin: auto;
}
#three_img :nth-child(3){
    width: 430px;
    height: 450px;
    margin: auto;
}
.big1 {
    width: 100%;
    margin-top: 20px;

}
.big1 img {
    width: 100%;
}
.border {
    width: 100%0;
    height: 1px;
    border:2px solid grey;
    background: grey;
}
.banner_text3 {
    position: absolute;
    color: #fff;
    /* border: 1px solid green; */
    text-align: center;
    margin-top: -40%;
    margin-left: 70%;
}
.banner_text3 :nth-child(1) {
    font-style: italic;
    font-size: 120px;
    color: grey;
}
    
.banner_text3 :nth-child(2) {
    font-style: italic;
    font-size: 80px;
    margin-top:-50%;
    margin-left: 70%;
    color: rgb(22, 148, 202)
}
.big2 {
    width: 100%;
    margin-top: 20px;
}
.big2 img {
    width: 100%;
    height: 450px;
}
.banner_text4 :nth-child(1) { 
    font-size: 60px;
    /* margin-top: -300px; */
    color: rgb(22, 148, 202);
    margin-left: 450px
}
.holiday {
    width: 100%;
    /* margin-top: 270px; */
}
.holiday img {
    width: 100%;


}
/* #SHOP {
    border: 2px solid red;
    width: 100%;

} */

.SHOP_h1{
    text-align: center;
    font-size: 60px;
    color: rgb(22, 148, 202);
    /* border: 1px solid teal; */

}
#circle {
    width: 100%;
    /* border: 2px solid green; */
    height: 200px;
    display: flex;
    justify-content: space-between;
    
}
#circle img {
    width: 200px;
    height: 200px;
    
}
#paper {
    width: 100%;
    margin-top: 20px;
    display:flex
}
#paper_img img {
    width: 332px;
    height: 250px;
}
#last_h1 :nth-child(1){
    color: rgb(6, 6, 39);
    font-size: 50px;
    text-align: center;

}
#last_h1 :nth-child(2){
    color: rgb(22, 148, 202);
    font-size: 50px;
    text-align: center;
    margin-top: -20px

}
#last_h1 :nth-child(3){
    color: rgb(6, 6, 39);
    font-size: 30px;
    text-align: center;
    margin-top: -30px

}

.swiper-slide img {
    width: 1250px;
    height: 320px;
    /* border: 2px solid red; */
    margin-left: -50px
} 
.swiper {
    width: 1220px;
    /* border: 1px solid teal; */
    
} 
#last {
    margin-top: 50px;
    width: 1310px;
    height: 270px;
    /* border: 2px solid cyan; */
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}
.last_six {
    width: 220px;
    height: 220px;
    text-align: center;
}
.last_six img{
    width: 200px;
    height: 220px;
    /* border: 1px solid black; */
}
.sixhead {
    text-align: center;
    margin-top: 50px;
    color: rgb(22, 148, 202);
    font-size: 50px;
}

#footer {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: rgb(243, 243, 243);
    /* border: 2px solid cyan; */
}
#SUPPORT{
    width: 200px;
    height: 500px;
    /* border: 2px solid red; */
    margin-left: 20px;
    margin-top: 30px;


}
.foot_line{
    width: 100%;
    height: 2px;
    background-color: rgb(208, 208, 208);
}
#SUPPORT h1 {
    font-size: 17px;
}
#SUPPORT p {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:grey
    
}
#ABOUT{
    width: 200px;
    height: 500px;
    /* border: 2px solid red; */
    margin-left: 120px;
    margin-top: 30px;

}
#ABOUT h1 {
    font-size: 17px;
}
#ABOUT p {
    font-size: 16px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color:grey
    
}
#bottom{
    display: flex;
    margin-top: 50px;
    margin-left: 500px;
    
}
#bottom div{
    width: 50px;
    height: 40px;
    /* border: 1px solid red; */
}
#bottom img {
    width: 80%;
    height: 40px;
}
#end{
    width: 100%;
    height: 180px;
    /* border: 1px solid black; */
}
#end p {
    font-size: 13px;
    color:grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



  

 
