#container{
    width: 98%;
    margin: auto;
}
#offer{
    width: 100%;
    margin: auto;
    background-color: rgb(66, 170, 235);
    text-align: center;
    
}
#offer div{
    text-align: center;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
#offer div p{
    font-size: 20px;
}
#totaldiv{
    display: flex;
    gap: 10px;
    align-items: baseline;
    
}
a{
    text-decoration: none;
    font-size: 12px;
    margin-left: 5px;
}
#linkdiv{
    display: flex;
    margin-left: 2px;
}
#description{
    line-height: 2px;
}
#description p{
    font-size: 14px;
    margin-top: 0px;
}
#main{
   
    display: flex;
}
#filterdiv{
    width: 20%;
    
}
#productdiv{
    width: 80%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    
    margin: 5px;
}
#avaiblity{
    width: 100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    margin: auto;
    display: flex;
    text-align: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
#avaiblity img{
    width: 90%;
   
}
#avaiblity p{
    border-top: dashed;
    border-width: 0.5px;
    border-color: rgb(119, 119, 244);
    background-color: white;
}
#card{
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
#card a{
    font-size: 20px;
    color: black;
    margin-top: 5px;
}
#card p{
    padding-top: 15px;
}
#card p:hover{
    color: blueviolet;
}
#select{
    border: 0px;
    width: 100%;
    font-size: 20px;
}
#selectdiv{
    width: 90%;
    margin: auto;
    margin-top: 10px;
}
#filterdiv{
    margin-top: 20px;
    width: 25%;
}
#hyx:hover{

}
.collapsible {
    color: rgb(4, 4, 4);
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    background-color:white;
    margin-top: -10px;
  }
  .content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color:white;
    
    
  }
  .content p{
    background-color: white;
    width: 30%;
    font-size: 15px;
    margin-top: auto;
    
  }
  .active, .collapsible:hover {
    background-color: white;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
  }
  
  .collapsible:after {
    content: '^';
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    margin-left: 5px;
    
  }
  .active:after {
    content: ">";
    color: black;
  }
  .imgdiv{
    margin-bottom: 20px;
  }
  .imgdiv img{
    width:100% ;
    border-bottom: 1px dashed black;
  }
  #listedproduct{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-top: 10px;
  }
  .pricediv{
    display:flex;
    width: 100%;
    justify-content: space-between;
    
    align-items: center;

  }
  .pricediv div{
    line-height: 10%;
  }
  .description{
    line-height: 100%;
    margin-top: -10px;
    
  }
  .description p:nth-child(2){
    color: gray;
    font-size: 15px;
    margin-top: -15px;
  }
  .offdiv{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -15px;
  }
  .buyitem{
    border-radius: 8px;
    border: 1px dashed rgb(10, 10, 21);
    background-color:rgb(255, 255, 166);
    cursor: pointer;
  } 
  .addtofav{
    border:0px;
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    margin-right: 15px;
  }
  .addtofav:hover{
    font-size: 25px;
  }
